:root {
    font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
    --orange: #e27d60;
    --pastelorange: #e8a87c;
    --lightblue: #85dcbb;
    --brushviolet: #c38d9e;
    --greenmarine: #59e6b7;
}


body {
    background-color: var(--greenmarine);
    color: black;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 40vh;
}

#app {
    margin: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 50%;
}